
.products {
  display: inline-block;
  /* width:50%; */
  margin:0;
  padding: 10px;
}
.cart {
  /* display: inline-block; */
  float:right;
  width:50%;
  margin: 0;
  padding: 10px;
  border-left:1px solid black;
}
.total {
  
}