
.products {
  float:left;
  /* width:50%; */
  /* width:60%; */
  margin:0;
  padding: 10px;
}
.product_list {
  /* display: inline;e */
}
.product_card {
  display: flex;
  border: 1px solid black;
  margin:5px;
}
.cart {
  /* display: inline-block; */

  /* width:50%; */
  margin: 0;
  padding: 10px;
  border-left:1px solid black;
}
/* .total {
  float:right;
} */
.side_bar {
  float: right;
  /* width:35%; */
}